{project_plugins, [rebar3_ex_doc, rebar3_hex, covertool, rebar3_hank]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns,
        no_unknown
    ]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
          {"CHANGELOG.md", [{title, ~B"Changelog"}]},
          {~B"README.md", [{title, ~B"Overview"}]},
          {~B"LICENSE.md", [{title, ~B"License"}]}
    ]},
    {main, ~B"readme"},
    {homepage_url, ~B"https://github.com/starbelly/rebar3_ex_doc"},
    {source_url, ~B"https://github.com/starbelly/rebar3_ex_doc"},
    {assets, #{~B"assets" => ~B"assets"}},
    {api_reference, false},
    {with_mermaid, true},
    {skip_undefined_reference_warnings_on, [~B"README.md"]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{alias, [{test, [{ct, "--cover"}, {cover, "-v"}]}]}.
