{project_plugins, [covertool, rebar3_hank]}.


{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]}
]}.


{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{alias, [{test, [{ct, "--cover"}, {cover, "-v"}]}]}.
